<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-white">Contexto social</h2>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="column">
      <div class="ml-auto">
        <h4 style="color: #253f50">Revolución en Marcha</h4>
        <p class="lead" style="color: #253f50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, officia blanditiis! Adipisci ad perferendis accusamus molestias nobis quidem iure accusantium error consequatur minus officiis quas quia, odio, nihil, repellendus earum?</p>
      </div>
      <div class="mr-auto">
        <h4 style="color: #253f50">Alfonso López Pumarejo</h4>
        <p class="lead" style="color: #253f50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa magnam quas praesentium doloremque dicta, blanditiis ipsa cupiditate corrupti suscipit optio, architecto recusandae odio provident dolores eligendi repellendus distinctio. Architecto, at!</p>
      </div>
      <div class="mr-auto">
        <h4 style="color: #253f50">Educación e infancia en los años 30</h4>
        <p class="lead" style="color: #253f50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa magnam quas praesentium doloremque dicta, blanditiis ipsa cupiditate corrupti suscipit optio, architecto recusandae odio provident dolores eligendi repellendus distinctio. Architecto, at!</p>
      </div>
    </div>
  </div>
</section>
