@import 'https://use.fontawesome.com/releases/v5.15.1/js/all.js';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic';
@import 'assets/css/styles.css';
html{
  position: relative;
  min-height: 100%;
}
body{
  margin-bottom: 60px;
}
