<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">Acerca</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, officia blanditiis! Adipisci ad perferendis accusamus molestias nobis quidem iure accusantium error consequatur minus officiis quas quia, odio, nihil, repellendus earum?</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa magnam quas praesentium doloremque dicta, blanditiis ipsa cupiditate corrupti suscipit optio, architecto recusandae odio provident dolores eligendi repellendus distinctio. Architecto, at!</p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
        <i class="fas fa-download mr-2"></i>
        Acerca de CHANCHITO
      </a>
    </div>
  </div>
</section>
